<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form method="post" th:action="@{/registration}">
			<!-- <div  th:object="${student}"> -->
				Name: <input type="text" name="myname" th:value="${student.myname}" /><br>
				<!-- <span style="color:red;" th:if="${#fields.hasErrors('myname')}" th:errors="*{myname}"></span> -->
				
				Mobile: <input type="text" name="mobile" th:value="${student.mobile}" /><br>
				Email: <input type="text" name="email"  th:value="${student.email}"/><br>
	
			
			Username: <input type="text" name="username" th:value="${cred.username}" /><br>
			Password: <input type="password" name="password" th:value="${cred.password}"/><br>
			<input type="submit" value="submit" />
		</form>
	</div>
</body>
</html>